{% extends 'base.html.twig' %}
{% block title %}Hello HomeController!{% endblock %}
{% block body %}
<ul>
<li><a href="{{path('app_avatar_index')}}"> Gérer les avatars</a></li>
<li><a href="{{path('app_personnage_index')}}"> Gérer les personnages</a></li>
<li><a href="{{path('app_aventure_index')}}"> Gérer les aventures</a></li>
<li><a href="{{path('app_etape_index')}}"> Gérer les etapes</a></li>
<li><a href="{{path('app_alternative_index')}}"> Gérer les alternatives</a></li>
<li><a href="{{path('app_partie_index')}}"> Gérer les parties</a></li>

</ul>
{% endblock %}

