{% extends 'base.html.twig' %}

{% block title %}Avatar index{% endblock %}

{% block body %}
    <h1>Avatar index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_fichier</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for avatar in avatars %}
            <tr>
                <td>{{ avatar.id }}</td>
                <td>{{ avatar.nomFichier }}</td>
                <td>
                    <a href="{{ path('app_avatar_show', {'id': avatar.id}) }}">show</a>
                    <a href="{{ path('app_avatar_edit', {'id': avatar.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_avatar_new') }}">Create new</a>
{% endblock %}
